*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem); /* 1em + 8px */
}

/* @font-face {
    font-family: 'Brown';
    src: url('Brown-Font/BrownLight\ Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
} */

@font-face{
    font-family: 'Brown Casalova';
    src: url('Brown-Casalova-Font/BrownCasalova_Demo.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    -webkit-font-smoothing: antialiased;
  font-family: 'Brown Casalova', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #F7FDFC;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    color: #000B0A;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

fieldset {
    border: none;
}

main{
    background-color: #FFFFFF;
    padding: 1.2rem 1rem;
}

.logo {
    width: 40px;
    height: auto;
}

.form-title p {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #737373;
}

label {
    font-size: 14px;
    color: #000B0A;
    font-weight: 700;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.5rem;
    margin: 1.85rem 0;
    border: none;
    border-radius: 5px;
    background-color: #2EC4B6;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #1C8D85;
}

footer p {
    font-size: 0.8rem;
    font-weight: 500;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    color: #000;
}

footer span {
    color: #2EC4B6;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 2rem;
        flex-direction: row;
    }
}